<mat-toolbar>
  <div class="title-with-icon">
    <a routerLink="/">
      Fridge<i class="far fa-snowflake" style="color: white"></i>Watch&nbsp;
    </a>
  </div>

  <span class="spacer"></span>
  <div fxHide fxShow.gt-sm>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/dashboard" routerLinkActive="mat-accent">Dashboard</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/graphs" routerLinkActive="mat-accent">Graphs</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="userIsAuthenticated && isAdmin">
        <a mat-button routerLink="/users" routerLinkActive="mat-accent">Manage Users</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button routerLink="/preferences" routerLinkActive="mat-accent">
          {{username}}&nbsp;<mat-icon>account_circle</mat-icon>
        </button>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
          <mat-icon *ngIf="errorService.errors.length > 0" [matBadge]="errorService.errors.length" matBadgeColor="warn">notifications</mat-icon>
          <mat-icon *ngIf="!(errorService.errors.length > 0)">notifications</mat-icon>
        </button>
        <mat-menu #notificationMenu="matMenu">
          <button *ngFor="let error of errorService.errors; let i = index" mat-menu-item (click)="openDialog(error)">
            <mat-icon style="color: black">error</mat-icon>
            <span style="color: black">{{error.message}}</span>
          </button>
          <button *ngIf="errorService.errors.length > 0" mat-menu-item (click)="errorService.removeErrors()">
              <mat-icon style="color: firebrick">delete</mat-icon>
              <span style="color: firebrick">Dismiss all errors</span>
          </button>
          <button *ngIf="!(errorService.errors.length > 0)" mat-menu-item disabled>
              <mat-icon style="color: grey">check</mat-icon>
              <span style="color: grey">No errors happened</span>
          </button>
        </mat-menu>
    </li>
    </ul>
  </div>
  <div fxShow fxHide.gt-sm>
    <div class="title-with-icon">
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu" style="margin-right: 10px">
        <mat-icon *ngIf="errorService.errors.length > 0" [matBadge]="errorService.errors.length" matBadgeColor="warn">notifications</mat-icon>
        <mat-icon *ngIf="!(errorService.errors.length > 0)">notifications</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-menu #notificationMenu="matMenu">
      <button *ngFor="let error of errorService.errors; let i = index" mat-menu-item (click)="openDialog(error)">
        <mat-icon style="color: black">error</mat-icon>
        <span style="color: black">{{error.message}}</span>
      </button>
      <button *ngIf="errorService.errors.length > 0" mat-menu-item (click)="errorService.removeErrors()">
          <mat-icon style="color: firebrick">delete</mat-icon>
          <span style="color: firebrick">Dismiss all errors</span>
      </button>
      <button *ngIf="!(errorService.errors.length > 0)" mat-menu-item disabled>
          <mat-icon style="color: grey">check</mat-icon>
          <span style="color: grey">No errors happened</span>
      </button>
    </mat-menu>
    <mat-menu #menu="matMenu">
      <span *ngIf="userIsAuthenticated">
        <a button mat-menu-item routerLink="/dashboard" routerLinkActive="mat-accent">Dashboard</a>
      </span>
      <span *ngIf="userIsAuthenticated">
        <a button mat-menu-item routerLink="/graphs" routerLinkActive="mat-accent">Graphs</a>
      </span>
      <span *ngIf="!userIsAuthenticated">
        <a button mat-menu-item routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </span>
      <span *ngIf="userIsAuthenticated && isAdmin">
        <a button mat-menu-item routerLink="/users" routerLinkActive="mat-accent">Manage Users</a>
      </span>
      <span *ngIf="userIsAuthenticated">
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </span>
      <span *ngIf="userIsAuthenticated">
        <button mat-menu-item routerLink="/preferences" routerLinkActive="mat-accent">
          {{username}}&nbsp;<mat-icon>account_circle</mat-icon>
        </button>
      </span>
    </mat-menu>
  </div>
</mat-toolbar>