<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      <mat-icon>home</mat-icon>&nbsp; Thingy Team Red Client
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/dashboard" routerLinkActive="mat-accent">Dashboard</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/graphs" routerLinkActive="mat-accent">Graphs</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/users" routerLinkActive="mat-accent">Manage Users</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>