<h1 class="mat-display-1">Preferences &amp; Thresholds</h1>

<mat-card>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form #preferenceForm="ngForm" (submit)="onChange(preferenceForm)" *ngIf="!isLoading">
                <table style="width:50%" *ngIf="!isLoading"> 
                        <tr>
                                <th>Notification methods</th>
                                <th></th>
                        </tr>
                        <tr>
                                <td>
                                        <mat-form-field>
                                                <input matInput name="telegram" [(ngModel)]="contactData.telegram" type="number" placeholder="Telegram chatId" #telegramInput="ngModel" min="0" chatId>
                                                <mat-error *ngIf="telegramInput.invalid">Please enter a valid chatId.</mat-error>
                                        </mat-form-field>
                                </td>
                                <td>
                                        <mat-form-field class="email-input">
                                                <input type="email" name="email" [(ngModel)]="contactData.email" matInput placeholder="Email address" #emailInput="ngModel" email>
                                                <mat-error *ngIf="emailInput.invalid">Please enter a valid email address.</mat-error>
                                        </mat-form-field>
                                </td>
                        </tr>
                </table>
                <p>To get your Telegram chatId contact <a href="https://t.me/thingy_project_red_bot" target="_blank" rel="nofollow noopener">@thingy_project_red_bot</a></p>
                <br/>
                <table style="width:50%" *ngIf="!isLoading"> 
                        <tr>
                                <th>Metric</th>
                                <th>Thresholds</th>
                                <th></th><th></th>
                        </tr>
                        <tr *ngFor="let metric of metrics">
                                <td>{{ metric.replace("_", " ") }}</td>
                                <td>
                                        <mat-form-field *ngIf="metric !== 'door_open'">
                                                <input type="number" name="{{ metric }}.min" [(ngModel)]="thresholds[metric].min" matInput placeholder="min ({{ units[metric] }})">
                                        </mat-form-field>
                                </td>
                                <td>
                                        <mat-form-field>
                                                <input type="number" name="{{ metric }}.max" [(ngModel)]="thresholds[metric].max" matInput placeholder="max ({{ units[metric] }})">
                                        </mat-form-field>
                                </td>
                                <td>
                                        <mat-form-field>
                                                <input type="number" name="{{ metric }}.timeout" [(ngModel)]="thresholds[metric].timeout" matInput placeholder="timeout (s)">
                                        </mat-form-field>
                                </td>
                        </tr>
                </table>
                <br/>
                <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Save</button>
        </form>
</mat-card>
