<mat-accordion multi="true">
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                Humidity
                        </mat-panel-title>
                        <mat-panel-description>
                                <div class="grid-container">
                                        <div class="grid-item">Thingy1: </div>
                                        <div class="grid-item2">{{ latest1 }}%</div>
                                        <div class="grid-item">Thingy2: </div>
                                        <div class="grid-item2">{{ latest2 }}%</div>
                                </div>
                        </mat-panel-description>
                </mat-expansion-panel-header>
                <table style="width:50%">
                        <tr>
                                <th>Humidity</th>
                                <th>Time</th>
                                <th>Device</th>
                        </tr>
                        <tr *ngFor="let humid of humidities1">
                                <td>{{humid.humidity}}%</td>
                                <td>{{humid.time | date: 'medium'}}</td>
                                <td>{{humid.device}}</td>
                        </tr>
                </table>
                <hr>
                <table style="width:50%">
                        <tr>
                                <th>Humidity</th>
                                <th>Time</th>
                                <th>Device</th>
                        </tr>
                        <tr *ngFor="let humid of humidities2">
                                <td>{{humid.humidity}}%</td>
                                <td>{{humid.time | date: 'medium'}}</td>
                                <td>{{humid.device}}</td>
                        </tr>
                </table>
        </mat-expansion-panel>
</mat-accordion>