<mat-accordion multi="true" hideToggle="true">
  <mat-expansion-panel>
          <mat-expansion-panel-header>
                  <mat-panel-title>
                          Status
                  </mat-panel-title>
                  <mat-panel-description>
                          <div class="grid-container">
                                  <div class="grid-item">Thingy1: </div>
                                  <div class="grid-item2">{{status1}}</div>
                                  <div class="grid-item">Thingy2: </div>
                                  <div class="grid-item2">{{status2}}</div>
                          </div>
                  </mat-panel-description>
          </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
