<mat-accordion multi="true">
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                Lights
                        </mat-panel-title>
                        <mat-panel-description>
                                <div class="grid-container">
                                        <div class="grid-item">Thingy1: </div>
                                        <div class="grid-item2">
                                                <svg width="27" height="27">
                                                        <circle cx="13.5" cy="13.5" r="12" stroke="gray" stroke-width="1"
                                                                [attr.fill]="colorCode1" />
                                                </svg>
                                        </div>
                                        <div class="grid-item">Thingy2: </div>
                                        <div class="grid-item2">
                                                <svg width="27" height="27">
                                                        <circle cx="13.5" cy="13.5" r="12" stroke="gray" stroke-width="1"
                                                                [attr.fill]="colorCode2" />
                                                </svg>
                                        </div>
                                </div>
                        </mat-panel-description>
                </mat-expansion-panel-header>
                <table style="width:50%">
                        <tr>
                                <th>Light</th>
                                <th>Time</th>
                                <th>Device</th>
                        </tr>
                        <tr *ngFor="let light of lights1">
                                <td>rgb: ({{light.red}}, {{light.green}}, {{light.blue}}) clear: {{light.clear}}</td>
                                <td>{{light.time | date: 'medium'}}</td>
                                <td>{{light.device}}</td>
                        </tr>
                </table>
                <hr>
                <table style="width:50%">
                        <tr>
                                <th>Light</th>
                                <th>Time</th>
                                <th>Device</th>
                        </tr>
                        <tr *ngFor="let light of lights2">
                                <td>rgb: ({{light.red}}, {{light.green}}, {{light.blue}}) clear: {{light.clear}}</td>
                                <td>{{light.time | date: 'medium'}}</td>
                                <td>{{light.device}}</td>
                        </tr>
                </table>
        </mat-expansion-panel>
</mat-accordion>