<mat-accordion multi="true">
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                Lights
                        </mat-panel-title>
                        <mat-panel-description>
                                <div class="grid-container">
                                        <div class="grid-item">Thingy1: </div>
                                        <div class="grid-item2">
                                                <app-light-bubble device="Thingy1"></app-light-bubble>
                                        </div>
                                        <div class="grid-item">Thingy2: </div>
                                        <div class="grid-item2">
                                                <app-light-bubble device="Thingy2"></app-light-bubble>
                                        </div>
                                </div>
                        </mat-panel-description>
                </mat-expansion-panel-header>
        </mat-expansion-panel>
</mat-accordion>
