<mat-accordion multi="true">
    <mat-expansion-panel>
            <mat-expansion-panel-header>
                    <mat-panel-title>
                            Battery
                    </mat-panel-title>
                    <mat-panel-description>
                            <div class="grid-container">
                                    <div class="grid-item">Thingy1: </div>
                                    <div class="grid-item2">{{ latestBattery1 }}%</div>
                                    <div class="grid-item">Thingy2: </div>
                                    <div class="grid-item2">{{ latestBattery2 }} %</div>
                            </div>
                    </mat-panel-description>
            </mat-expansion-panel-header>
            <table style="width:50%">
                    <tr>
                            <th>Battery Level</th>
                            <th>Time</th>
                            <th>Device</th>
                    </tr>
                    <tr *ngFor="let battery of batteries1">
                            <td>{{battery.battery_level}}%</td>
                            <td>{{battery.time | date: 'medium'}}</td>
                            <td>{{battery.device}}</td>
                    </tr>
            </table>
            <hr>
            <table style="width:50%">
                <tr>
                        <th>Battery Level</th>
                        <th>Time</th>
                        <th>Device</th>
                </tr>
                <tr *ngFor="let battery of batteries2">
                        <td>{{battery.battery_level}}%</td>
                        <td>{{battery.time | date: 'medium'}}</td>
                        <td>{{battery.device}}</td>
                </tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>