<div class="container">

  <div class="row">
    <h1>Thingy Team Red Client</h1>
  </div>

  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <h2>Light</h2>
      <ul>
        <li>Red: {{light.red}}</li>
        <li>Green: {{light.green}}</li>
        <li>Blue: {{light.blue}}</li>
        <li>Clear: {{light.clear}}</li>
        <li>
          <svg width="40" height="40">
            <circle cx="20" cy="20" r="18" stroke="black" stroke-width="2" [attr.fill]="colorCode" />
          </svg>
        </li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <h2>Humidity</h2>
      <ul>
        <li>{{humidity}}%</li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <h2>Temperature</h2>
      <ul>
        <li>{{temperature.temperature}} C°</li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <h2>Air Quality</h2>
      <ul>
        <li>eCO2: {{airQuality.eco2}} ppm</li>
        <li>TVOC: {{airQuality.tvoc}} ppb</li>
      </ul>  
    </div>

  </div>
</div>