<mat-toolbar color="primary">
        <mat-icon>home</mat-icon>&nbsp; Thingy Team Red Client
</mat-toolbar>
<main>
        <mat-accordion multi="true">
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Temperature
                                </mat-panel-title>
                                <mat-panel-description>
                                        <div class="grid-container">
                                                <div class="grid-item">Thingy1: </div>
                                                <div class="grid-item2">
                                                        <app-temperature-latest device="Thingy1"></app-temperature-latest>
                                                </div>
                                                <div class="grid-item2">
                                                        <app-temperature-avg device="Thingy1" rangeInSeconds="3600"></app-temperature-avg>
                                                </div>
                                                <div class="grid-item">Thingy2: </div>
                                                <div class="grid-item2">
                                                        <app-temperature-latest device="Thingy2"></app-temperature-latest>
                                                </div>
                                                <div class="grid-item2">
                                                        <app-temperature-avg device="Thingy2" rangeInSeconds="3600"></app-temperature-avg>
                                                </div>
                                        </div>
                                </mat-panel-description>
                        </mat-expansion-panel-header>
                        <app-temperature-series device="Thingy1" rangeInSeconds="10"></app-temperature-series>
                        <hr>
                        <app-temperature-series device="Thingy2" rangeInSeconds="10"></app-temperature-series>
                </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion multi="true">
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Air Quality
                                </mat-panel-title>
                                <mat-panel-description>
                                        <div class="grid-container">
                                                <div class="grid-item">Thingy1: </div>
                                                <div class="grid-item2">
                                                        <app-airquality-latest device="Thingy1"></app-airquality-latest>
                                                </div>
                                                <div class="grid-item2">
                                                        <app-airquality-avg device="Thingy1" rangeInSeconds="3600"></app-airquality-avg>
                                                </div>
                                                <div class="grid-item">Thingy2: </div>
                                                <div class="grid-item2">
                                                        <app-airquality-latest device="Thingy2"></app-airquality-latest>
                                                </div>
                                                <div class="grid-item2">
                                                        <app-airquality-avg device="Thingy2" rangeInSeconds="3600"></app-airquality-avg>
                                                </div>
                                        </div>
                                </mat-panel-description>
                        </mat-expansion-panel-header>
                        <app-airquality-series device="Thingy1" rangeInSeconds="10"></app-airquality-series>
                        <hr>
                        <app-airquality-series device="Thingy2" rangeInSeconds="10"></app-airquality-series>
                </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion multi="true">
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                        Humidity
                                </mat-panel-title>
                                <mat-panel-description>
                                        <div class="grid-container">
                                                <div class="grid-item">Thingy1: </div>
                                                <div class="grid-item2">
                                                        <app-humidity-latest device="Thingy1"></app-humidity-latest>
                                                </div>
                                                <div class="grid-item2">
                                                        <app-humidity-avg device="Thingy1" rangeInSeconds="3600"></app-humidity-avg>
                                                </div>
                                                <div class="grid-item">Thingy2: </div>
                                                <div class="grid-item2">
                                                        <app-humidity-latest device="Thingy2"></app-humidity-latest>
                                                </div>
                                                <div class="grid-item2">
                                                        <app-humidity-avg device="Thingy2" rangeInSeconds="3600"></app-humidity-avg>
                                                </div>
                                        </div>
                                </mat-panel-description>
                        </mat-expansion-panel-header>
                        <app-humidity-series device="Thingy1" rangeInSeconds="10"></app-humidity-series>
                        <hr>
                        <app-humidity-series device="Thingy2" rangeInSeconds="10"></app-humidity-series>
                </mat-expansion-panel>
        </mat-accordion>
        <app-light></app-light>
        <app-door></app-door>
        <app-battery></app-battery>
</main>