
<h1>Thingy Team Red Client</h1> 

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <app-temperature></app-temperature>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-humidity></app-humidity>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-air></app-air>
    </mat-grid-tile>
    <mat-grid-tile>Light</mat-grid-tile>
  </mat-grid-list>


<div class="container">

  <div class="row">
    <h1>Thingy Team Red Client</h1>
  </div>

  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <h2>Light</h2>
      <ul>
        <li>Light</li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <h2>Humidity</h2>
      <ul>
        <li>humidity%</li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <h2>Placeholder</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    </div>

  </div>
</div>

