main {
  width: 90%;
  margin: 1rem auto;
}

.toolbar-spacer {
  padding-left: 25px;
}

a:hover {
  color: white;
}

body {
  background-image: url("../assets/background.jpg");
  background-repeat: repeat; 
  background-size:     cover;                     
  background-position: center center; 
  background-attachment: scroll;
}

