<div class="row">
  <div style="padding-bottom: 16px" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-temperature-graph></app-temperature-graph>
  </div>
  <div style="padding-bottom: 16px" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-humidity-graph></app-humidity-graph>
  </div>
  <div style="padding-bottom: 16px" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-co2-graph></app-co2-graph>
  </div>
  <div style="padding-bottom: 16px" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-tvoc-graph></app-tvoc-graph>
  </div>
  <div style="padding-bottom: 16px" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <app-door-graph></app-door-graph>
  </div>
</div>