mat-panel-title{
    margin-right: 6px;
    font-size: 18px;
  }
  
  mat-panel-description{
    font-size: 18px;
  }

  .airTitle {
    margin-right: 25px;
    font-size: 18px;
  }

  .humidityTitle{
    margin-right: 36px;
    font-size: 18px;
  }

  .lightsTitle{
    margin-right: 58px;
    font-size: 18px;
  }

  .doorTitle{
    margin-right: 16px; 
    font-size: 18px; 
  }

  .batteryTitle{
    margin-right: 54px; 
    font-size: 18px; 
  }

  .statusTitle{
    margin-right: 54px; 
    font-size: 18px; 
  }
  
  .grid-container {
    display: inline-grid;
    grid-template-columns: 50px 150px 150px 50px 150px 150px;
    grid-gap: 20px;
    align-items: flex-end;  
  }

  .grid-item-thingy-label {
    font-size: 10px;
    padding-bottom: 3px;
    color: #9E9E9E;
  }

  .grid-container-temp {
    display: inline-grid;
    grid-template-columns: 50px 120px 120px 50px 120px 120px;
    grid-gap: 20px;
    align-items: flex-end;  
  }

  .grid-item-temp-latest {
    font-size: 18px;
    color: black;
  }

  .grid-item-temp-avg {
    font-size: 18px;
    color: #3F51B5;
  }

  .grid-container-air {
    display: inline-grid;
    grid-template-columns: 50px 120px 120px 50px 120px 120px;
    grid-gap: 20px;
    align-items: flex-end;  
  }

  .grid-item-air-latest {
    font-size: 18px;
    color: black;
  }

  .grid-item-air-avg {
    font-size: 18px;
    color: #3F51B5;
  }

  .grid-container-humid {
    display: inline-grid;
    grid-template-columns: 50px 120px 120px 50px 120px 120px;
    grid-gap: 20px;
    align-items: flex-end;  
  }

  .grid-item-humid-latest {
    font-size: 18px;
    color: black;
  }

  .grid-item-humid-avg {
    font-size: 18px;
    color: #3F51B5;
  }

  .grid-container-light {
    display: inline-grid;
    grid-template-columns: 50px 260px 50px 260px;
    grid-gap: 20px;
    align-items: flex-end;  
  }

  .grid-item-light-bubble {
    font-size: 10px;
    padding-bottom: 3px;
  }


  .grid-container-battery {
    display: inline-grid;
    grid-template-columns: 50px 260px 50px 260px;
    grid-gap: 20px;
    align-items: flex-end;  
  }

  .grid-item-battery-latest {
    font-size: 18px;
    color: black;
  }

  .grid-container-door {
    display: inline-grid;
    grid-template-columns: 50px 260px 50px 260px; 
    grid-gap: 20px;
    align-items: flex-end;  
  }

  .grid-item-door-latest {
    font-size: 18px;
    color: black;
  }

  .grid-container-status {
    display: inline-grid;
    grid-template-columns: 50px 260px 50px 260px; 
    grid-gap: 20px;
    align-items: flex-end;  
  }

  .grid-item-status {
    font-size: 18px;
    color: black;
  }

.sensor-card {
  max-width: 400px;     
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0 0 1rem #f5f5f5;
  justify-items: center;    
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
  height: 19rem;
  cursor: pointer;
  background-color: white;
  border-radius: 0.5rem;
  animation: 1.25s ease-in-out 0ms 1 fadein;
}

.card-header-container{
  display: block;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-title{
  font-size: 16px; 
}

.card-thingy-lable{
  display: block;
  font-size: 1rem;
  color: gray; 
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-content-container{
  text-align: center; 
}

.card-content-latest{
  align-self: end;
  width: 100%;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.card-content-avg {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-content-subvalues-container{
  display: flex;
  align-items: center;
  margin-left: -4rem;
}

.subvalues-separator {
  margin: 0 2rem;
  width: 2px;
  height: 2.5rem;
  background-color: white;
}

.subvalues-text {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.subvalues-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

mat-grid-tile{
  margin: 0.1px; 
  padding: 0.1px; 
}

