.sensor-card {
  max-width: 400px;     
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0 0 0.5rem gray;
  justify-items: center;    
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
  height: 17rem;
  cursor: pointer;
  background-color: white;
  border-radius: 0.5rem;
  animation: 1.25s ease-in-out 0ms 1 fadein;
}

.card-header-container{
  display: block;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-title{
  font-size: 16px; 
}

.card-thingy-lable{
  display: block;
  font-size: 1rem;
  color: gray; 
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-content-container{
  text-align: center; 
}

.card-content-latest{
  align-self: end;
  width: 100%;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.card-content-avg {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-content-subvalues-container{
  display: flex;
  align-items: center;
  margin-left: -4rem;
}

.subvalues-separator {
  margin: 0 2rem;
  width: 2px;
  height: 2.5rem;
  background-color: white;
}

.subvalues-text {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.subvalues-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.thingyStatusLabel{
  display: block;
  color: white; 
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: left;
  padding-left: 20px; 
}


