mat-panel-title{
    margin-right: 6px;
    font-size: 18px;
}

mat-panel-description{
    font-size: 18px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 50px 80px 80px 50px 80px 80px;
    grid-gap: 20px;
    align-items: flex-end;  
}

.grid-item {
    font-size: 10px;
    padding-bottom: 3px;
}

.grid-item2 {
    font-size: 18px;
    color: black;
}